# if - Elif -Else Statements

In [8]:
if 25>10:
    print ('It worked!')

It worked!

In [11]:
if 25<10:
    print ('It worked!')
else: 
    print('It didnot work ...')

It didnot work ...

In [25]:
if (5>10) or (1<3):
    print ('It worked!')
    if 10>5:
        print ('this nested if staement worked!')
elif 25>30:
    print('ELIF worked 1')
elif 20>19:
    print('ELIF worked 2')
elif 20>19:
    print('ELIF worked 3')
elif 16>19:
    print('ELIF worked 4')    
else: 
    print('It didnot work ...')

It worked!
this nested if staement worked!

# For Loops

In [37]:
Integers = [1,2,3,4,5]

In [41]:
for Jelly in Integers:
    print(Jelly + Jelly)

2
4
6
8
10

In [44]:
ice_cream_dict = {'name':'sebian', 'weekly intake' : 5, 'favourite icecream': ['MNC','Chocolate']}

In [47]:
for cream in ice_cream_dict.keys():
    print(cream)

name
weekly intake
favourite icecream

In [52]:
for name in ice_cream_dict.values():
    print(name)

sebian
5
['MNC', 'Chocolate']

In [51]:
for key, value in ice_cream_dict.items():
    print(key,'=',value)

name = sebian
weekly intake = 5
favourite icecream = ['MNC', 'Chocolate']

# Nested Loops

In [53]:
flavors =['Vanilla','Chocolate','Cookie Dough']
toppings =['Hot Fudge','oreos','Marshmallows']

In [54]:
for A in flavors:
    for B in toppings:
        print (A,'topped with',B)

Vanilla topped with Hot Fudge
Vanilla topped with oreos
Vanilla topped with Marshmallows
Chocolate topped with Hot Fudge
Chocolate topped with oreos
Chocolate topped with Marshmallows
Cookie Dough topped with Hot Fudge
Cookie Dough topped with oreos
Cookie Dough topped with Marshmallows

# Functions

In [56]:
def first_function():
    print('MyFirstFunction')

In [57]:
first_function()

MyFirstFunction

In [60]:
#SQAURING A NUMBER  
def number_squared(number):
    print(number**2)

In [63]:
number_squared(123)

15129

In [79]:
#to put a formula  argumnets 

args_tuple = (5,2,3,4,5)

def number_args(*number):
    print(number[0]*number[1]/number[2])

In [80]:
number_args(*args_tuple)

3.3333333333333335

In [87]:
#MULTIPLYING A NUMBER BY ANY POWER VALUE 
def number_squared_custom(number,power):
    print(number**power)

In [90]:
number_squared_custom(power= 6,number = 2)

64

In [117]:
#keyword argument 
def number_kwarg(**number):
    print('My number is :' + number ['integer'] + ' and My other number is :' + number['integer2'])

In [118]:
number_kwarg(integer = ' 2309', integer2 =' 4')

My number is : 2309 and My other number is : 4